<nav class="navbar navbar-expand-lg" style="background-color: #add9f9!important;">
    <div class="container-fluid">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}">
                <img src="/assets/imagen/quituro.png" alt="Bootstrap" width="220" height="40">
            </a>
        </div>
        {% if is_granted('ROLE_ADMIN') == TRUE or is_granted('ROLE_USER') %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Usuarios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('list_users') }}">Listado de Usuarios</a></li>
                                <li><a class="dropdown-item" href="{{ path('create_user') }}">Crear Usuario</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Facturas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('list_invoices') }}">Listado de Facturas</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('create_invoice') }}">Crear Factura</a></li>
                                <li><a class="dropdown-item" href="{{ path('create_advance_invoices') }}">Generar Facturas Adelantadas</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pagos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('list_payments') }}">Listado de Pagos</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('report') }}">Generar Informe de Pagos</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_config') }}" role="button" aria-expanded="false">
                                Configuración
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('show_user', {user: app.user.id}) }}">Perfil</a></li>
                            <li><a class="dropdown-item" href="{{ path('logout') }}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}" role="button" aria-expanded="false" style="width: 150px; font-size: larger;">
                            Iniciar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>