{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
<style>
    .margin-label-checkbox {
        margin: 10px !important;
    }

    .input-checkbox {
        margin-top: 15px
    }
</style>

<div class="container-fluid">
    <div class="justify-content-center">
        <br>
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-primary" style="background-color: #add9f9!important;" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <!--Información del usuario-->
        <div class="container">
            <div class="card">
                <div class="card-header">Editar Usuario</div>
                <div class="card-body">
                    {{ form_start(form_edit_user) }}

                        <div class="row">
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="text" class="form-control" name="{{ field_name(form_edit_user.name) }}" value="{{ field_value(form_edit_user.name) }}">
                                <label>{{ field_label(form_edit_user.name) }}</label>
                            </div>
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="text" class="form-control" name="{{ field_name(form_edit_user.document_type) }}" value="{{ field_value(form_edit_user.document_type) }}" readonly>
                                <label>{{ field_label(form_edit_user.document_type) }}</label>
                            </div>
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="number" class="form-control" name="{{ field_name(form_edit_user.document_number) }}" value="{{ field_value(form_edit_user.document_number) }}">
                                <label>{{ field_label(form_edit_user.document_number) }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="text" class="form-control" name="{{ field_name(form_edit_user.email) }}" value="{{ field_value(form_edit_user.email) }}">
                                <label>{{ field_label(form_edit_user.email) }}</label>
                            </div>
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="number" class="form-control" name="{{ field_name(form_edit_user.phone_number) }}" value="{{ field_value(form_edit_user.phone_number) }}">
                                <label>{{ field_label(form_edit_user.phone_number) }}</label>
                            </div>
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="text" class="form-control" name="{{ field_name(form_edit_user.address) }}" value="{{ field_value(form_edit_user.address) }}">
                                <label>{{ field_label(form_edit_user.address) }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="text" class="form-control" name="{{ field_name(form_edit_user.city) }}" value="{{ field_value(form_edit_user.city) }}">
                                <label>{{ field_label(form_edit_user.city) }}</label>
                            </div>
                            <div class="form-floating mb-3 mt-3 col-4">
                                <input type="text" class="form-control" name="{{ field_name(form_edit_user.municipality) }}" value="{{ field_value(form_edit_user.municipality) }}">
                                <label>{{ field_label(form_edit_user.municipality) }}</label>
                            </div>
                            <div class="form-floating mb-3 mt-3 col-4">
                                <select class="form-select" name="{{ field_name(form_edit_user.status) }}">
                                    <option selected value="{{ field_value(form_edit_user.status) }}">{{ field_value(form_edit_user.status) }}</option>
                                    {% for label, value in field_choices(form_edit_user.status) %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <label>{{ field_label(form_edit_user.status) }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3 mt-3 col-4">
                                <select class="form-select" name="{{ field_name(form_edit_user.full_payment) }}">
                                    <option selected value="{{ field_value(form_edit_user.full_payment) }}">{{ field_value(form_edit_user.full_payment) }}</option>
                                    {% for label, value in field_choices(form_edit_user.full_payment) %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <label>{{ field_label(form_edit_user.full_payment) }}</label>
                            </div>
                        </div>

                        <!-- Sección de servicios activos por usuario o para registrar-->
                        <hr>
                        <div class="card col-md-8 offset-2">
                            <div class="card-body">
                                <div class="row" id="containerNewServices">
                                    {% for key, service in subscriptions %}
                                        <div class="input-group mb-3">
                                            <input class="form-check-input input-checkbox" type="checkbox"
                                                   value="{{ service.fullPayment }}"
                                                   id="fullPayment{{key+1}}"
                                                   name="fullPayment{{key+1}}"
                                                    {% if service.fullPayment == 1 %} checked {% endif %}
                                            >
                                            <label class="form-check-label margin-label-checkbox" for="fullPayment">¿Paga Servicio Completo?</label>
                                            <input type="text" class="form-control newInput" id="editActiveServices{{key+1}}" name="editActiveServices{{key+1}}" value="{{ service.service }}">
                                            <button type="button" class="btn btn-outline-secondary" id="editActiveServices{{key+1}}" onclick="deleteService({{ service.id }})" >Eliminar</button>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn btn-outline-secondary" onclick="addNewService()">Agregar Nuevo Servicio</button>
                            </div>
                        </div>
                        <hr>
                        {{ form_row(form_edit_user.save) }}
                    {{ form_end(form_edit_user) }}
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<script>
    function deleteService(service) {
        event.preventDefault();
        let delete_service = window.confirm('Está seguro de eliminar este servicio ')
        if (delete_service === true) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ path('delete_subscription') }}', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    alert(data.message)
                    window.location.href = window.location.href;
                } else {
                    alert('Hubo un error con la solicitud')
                }
            }
            xhr.send(JSON.stringify({ id: service }));
        } else {
            window.location.href = window.location.href;
        }


    }

    function addNewService() {
        // Crear nuevo elemento input y label
        var nuevoDiv = document.createElement("div");
        var nuevoInput = document.createElement("input");
        var nuevoInputCheckbox = document.createElement("input");
        var nuevoLabelCheckbox = document.createElement("label");

        var containerServices = document.getElementById("containerNewServices");
        var inputElements = containerServices.querySelectorAll(".newInput");
        var countInputs = inputElements.length;
        var counter = countInputs + 1;

        if (counter > 5) {
            alert('No es posible agregar mas servicios')
        } else {
            nuevoInput.type = "text";
            nuevoInput.classList = "form-control newInput mb-3";
            nuevoInput.name = "nuevoServicio" + counter;
            nuevoInput.placeholder = "Descripción del Nuevo Servicio " + counter;

            // Agregar nuevo input para checkbox
            nuevoInputCheckbox.type = "checkbox";
            nuevoInputCheckbox.value = '1';
            nuevoInputCheckbox.checked = true;
            nuevoInputCheckbox.classList = "form-check-input input-checkbox";
            nuevoInputCheckbox.name = "newFullPayment" + counter;
            nuevoLabelCheckbox.textContent = "¿Paga Servicio Completo?";
            nuevoLabelCheckbox.classList = "form-check-label margin-label-checkbox";

            nuevoDiv.classList = "input-group mb-3";

            nuevoDiv.appendChild(nuevoInputCheckbox);
            nuevoDiv.appendChild(nuevoLabelCheckbox);
            nuevoDiv.appendChild(nuevoInput);

            // Obtener el contenedor donde se agregarán los inputs
            var contenedorInputs = document.getElementById("containerNewServices");

            // Agregar el nuevo input al contenedor
            contenedorInputs.appendChild(nuevoDiv);
        }

    }
</script>

{% endblock %}
